<div class="ui padded raised segment">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="<%= job_image(@job["title"]) %>">
      </div>
      <div class="content">
        <h1 class="header"><%= @job["title"] %></h1>
        <div class="meta">
          <span class="cinema"><%= @job["author"]["name"] %></span>
        </div>
        <div class="meta">
          <span class="version">Applicants <%= rand(100) %></span>
        </div>
        <div class="meta">
          <span class="release">Released <%= format_date @job['updated'] %></span>
        </div>
        <div class="bottom aligned content">
          <a class="ui primary button" href="<%= @job['link'] %>">Apply</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui three small statistics">
    <div class="statistic">
      <div class="value">
        <%= number_to_human rand(100) %>
      </div>
      <div class="label">
        Applicants
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="small yellow star icon"></i> <%= rand(5) %>
      </div>
      <div class="label">
        Stars
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="small users icon"></i> <%= number_with_delimiter rand(1000) %>
      </div>
      <div class="label">
        Ratings
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <h2 class="header">Description</h2>
  <div>
    <p><%= @job['description'].html_safe %></p>
  </div>
  <div class="ui divider"></div>
</div>